.obChats{
  display: inline;
  height: auto;
}
.smChat{
  background-color: #8a99bb;
  width: 850px;
  height: 100%;
}
.chZagl{
 
  display:flex;
  width: 850px;
  height: 111px;
  top: 82px;
  left: 1017px;
  background-color:#FAFBFF;
  position:sticky;
  
}
.chZagl img{

  width: 54px;
  height: 54px;
  margin-top: 25px;
  margin-right: 20px;
  border: 1px solid 
  #8a99bb;
  border-radius: 50%;
 
}

.sms{
  /* background-color:rgb(255, 255, 255); */
  width: 622px;
  display: flex;
  padding: 10px;
} 
.smsSm{
  background:linear-gradient(to right, #60A9F6, #2A8BF2);
  width: auto;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 0 10px 10px;
}
.sms img{
  
  width: 36px;
  height: 36px;
  /* margin: 5px; */
  margin-right: 20px;
  border: 1px solid 
  #8a99bb;
  border-radius: 50%;
}
.dialog_chat{
  /* background-color: #0D1C2E; */
    width: 850px;
    height: auto;

}
.chatsDial{
  /* background-color: chocolate */
  display:flex;
}
.dialogs{
    display:grid;
    padding-right: 200px;
    width: 595px;
    height: 100%;
    
  
}
.zagolChat{
    border-bottom: 2px solid 
    #d2daf3;
    display:flex;
    width: 100%;
    position:sticky;
    top: 0;
    background: #F3F3FB;
  
  
  }
  .inp{
    background-color: white;
    background-image: url('https://w7.pngwing.com/pngs/456/948/png-transparent-computer-icons-desktop-web-search-engine-wordpress-com-search-icon-search-logo-website-circle-wordpresscom-thumbnail.png');
    margin: 20px;
    background-position-x:25px;
    background-position-y: center;
    background-size: 25px 25px;
    background-repeat: no-repeat;
    padding-left: 40px;
    width: 580px;
    height: 70px;
    border: none;
    padding-left: 80px;
    font-size: 18px;
    color: #707C97;
    /* background-image: url('https://icons8.ru/icon/59878/поиск'); */
    
  }

.inp:focus{
  background-color: #eef7ff;
}
  .chat{
    display: flex;
    width: 580px;
    height: 220px;
    padding: 20px;
    margin: 20px;
    background-color: rgb(255, 255, 255);
    /* text-size-adjust: 180px;
     */
     font-size: 18px;
     font-weight: bold;
     forced-color-adjust: red;
   /* height: ; */
  
    /* padding: 20px;
    padding-right: 20px; */
    /* background-color: aqua; */
  }
  .chats a{
   margin: 20px;
  }
  .chat{
    display: block;
    width: 580px;
  height: 220px;
  top: 290px;
  left: 350px;
  border-radius: 6px;

  }

  
  .pfoto img{
 
    width: 54px;
    height: 54px;
    margin: 5px;
    margin-right: 20px;
    border: 1px solid 
    #8a99bb;
    border-radius: 50%;
    }
.inf{
display: block;
    }
.nav{
color: #0D1C2E;
}
.pfoto{
    display: flex;
}
.text_sms{
    width: 450px;
    height: 78px;
    top: 391px;
    left: 390px;
    text-decoration: none;
    font-size: 13px;
    color: #707C97;
/* font-family:serif; */

    
}
.inf h2 {
  font-size: 23px;
padding: 1px;
height: 10px;
}
.inf h3{
  font-size: 16px;
  color: #2A8BF2 ;
}